:root{
    --black: #000000;
    --white: #ffffff;
    --gray: #f3f3f3;
    --graystrong:#6b6b6b;
    --maybeblack:#141414;
    --laranja: #ff7420;
    --fonte: 'Roboto', sans-serif;
}

body{
    background-color:rgb(255, 255, 255);
    margin: auto;
    font-family: var(--fonte);
    font-weight: 500;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: var(--white);
    font-family: var(--fonte);
    font-weight: 900;
    border-bottom: 5px solid var(--gray);
}

.header a img{
    width: auto;
    padding-top: 2em;
    padding-bottom: 1em;
}

.header nav ul{
    margin: 0;
    padding: 0;
    gap: 2em;
    display: flex;
    padding-bottom: 20px;
}


.header nav ul li{
    list-style: none;
}

.header div nav ul li a{
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--black);
    padding: 10px 12px;
    border-radius: 8px;
    transition: background-color 0.5s, color 0s;
}

.header div nav ul li a:hover{
    background-color:#ff7420;
    color: #f3f3f3;
}

.header div nav ul li a.active{
    background-color:#ff7420;
    color: #f3f3f3;

}

section h2{
    padding-top: 2em;
}

/* section{
    width: 100%;
} /*


/* CARDS */

.cards{

    display: flex;
    gap: 1.5em;
    margin-top: 2em;
    padding: 0;
}

.card{
    background: var(--white);
    border: 2px solid var(--gray);
    border-radius: 12px;
    padding: 0.5em;

    min-width: 260px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card-icon{
    font-size: 2em;
    background-color: #f3f3f3;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4em;
}

.card-icon i {
    font-size: 1.2em;
    line-height: 1;
}

.card:nth-child(1) {
    .card-icon i{color:#ff7420}
    .card-value{color:#ff7420}
}

.card:nth-child(2) {
    .card-icon i{color:orange}
    .card-value{color:orange}
}

.card:nth-child(3) {
    .card-icon i{color:green}
    .card-value{color:green}
}
.card:nth-child(4) {
    .card-icon i{color:red}
    .card-value{color:red}
}

.card-label{
    font-size: 1.4em;
    padding: 0.8em;
}

.card-value{
    font-size: 2em;
    margin-bottom: 0.4em;
}