:root{
    --black: #000000;
    --white: #ffffff;
    --gray: #f3f3f3;
    --graystrong:#6b6b6b;
    --maybeblack:#141414;
    --laranja: #ff7420;
    --fonte: 'Roboto', sans-serif;
}

body{
    background-color:aliceblue;
    margin: auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    align-items:flex-start;
    justify-content: flex-start;
}

.header {
    background-color: var(--white);
    font-family: var(--fonte);
    font-weight: 900;
    border-bottom: 5px solid var(--gray);
}

.header a img{
    width: auto;
    padding: 2em;

}

.header nav ul{
    display: flex;
    gap: 2em;
    padding-bottom: 20px;
}


.header nav ul li{
    list-style: none;
}

.header div nav ul li a{
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--black);
    padding: 10px 12px;
    border-radius: 8px;
    transition: background-color 0.5s, color 0s;
}

.header div nav ul li a:hover{
    background-color:#ff7420;
    color: #f3f3f3;
}

.header div nav ul li a.active{
    background-color:#ff7420;
    color: #f3f3f3;
}
